<div class="profile">
  <div class="profile__info">
    <div class="profile__info-top">
      <div class="profile__info-left">
        <div class="profile__info-top-name">Ali Saadat</div>
        <div class="profile__info-top-username">&commat;ali36saadat</div>
      </div>
      <div class="profile__info-right">
        <a
          routerLink="/mainPage/profile/editProfile"
          class="profile__info-right-btn"
          >Edit Profile</a
        >
      </div>
    </div>

    <div class="profile__info-middle">
      <span class="profile__info-middle-bio">
        <div class="profile__info-middle-bio-title">BIO</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
        inventore delectus rerum nulla impedit voluptatibus, quo voluptates qui
        quod, minus consequatur! Amet, voluptatibus ratione minima debitis vero
        eius labore aut?
      </span>
    </div>

    <div class="profile__info-bottom">
      <a class="profile__info-followings">
        <span class="profile__info-bottom-number">36</span>
        <span class="profile__info-bottom-title">Following</span>
      </a>
      <a class="profile__info-followers">
        <span class="profile__info-bottom-number">12</span>
        <span class="profile__info-bottom-title">Followers</span>
      </a>
    </div>
  </div>
  <div class="profile__posts"><app-post-component></app-post-component></div>
</div>
