<div class="side__right">
  <!-- <div class="side__right-logo">
    <img
      class="side__right-logo-pic"
      src="../../../assets/pic/logo__pic.png"
      alt="logo"
    />
  </div> -->
  <div class="side__right-list">
    <a
      routerLinkActive="side__right-list-item--active"
      class="side__right-list-item"
      routerLink="home"
    >
      <span class="side__right-list-item-span">Home</span>
    </a>

    <a
      class="side__right-list-item"
      routerLink="newPost"
      routerLinkActive="side__right-list-item--active"
    >
      <span class="side__right-list-item-span">New Post</span>
    </a>

    <a
      class="side__right-list-item"
      routerLink="search"
      routerLinkActive="side__right-list-item--active"
    >
      <span class="side__right-list-item-span">Search</span>
    </a>

    <a
      class="side__right-list-item"
      routerLink="profile"
      routerLinkActive="side__right-list-item--active"
    >
      <span class="side__right-list-item-span">Profile</span>
    </a>
  </div>

  <!-- <div class="side__right-prof">
    <div class="side__right-prof-container">
      <div class="side__right-prof-title">Followings</div>
      <div class="side__right-prof-context">36</div>
    </div>
    <div class="side__right-prof-container">
      <div class="side__right-prof-title">Followers</div>
      <div class="side__right-prof-context">3</div>
    </div>
    <div class="side__right-prof-container">
      <div class="side__right-prof-title">posts</div>
      <div class="side__right-prof-context">12</div>
    </div>
    <div class="side__right-prof-container">
      <div class="side__right-prof-title">bookmarks</div>
      <div class="side__right-prof-context">36</div>
    </div>
  </div> -->
</div>
