<div class="side__right">
  <div class="side__right-list">
    <a routerLinkActive="side__right-list-item--active" class="side__right-list-item" routerLink="home">
      <span class="side__right-list-item-span">Home</span>
    </a>

    <a class="side__right-list-item" routerLink="newPost" routerLinkActive="side__right-list-item--active">
      <span class="side__right-list-item-span">New Post</span>
    </a>

    <a class="side__right-list-item" routerLink="search" routerLinkActive="side__right-list-item--active">
      <span class="side__right-list-item-span">Search</span>
    </a>

    <a class="side__right-list-item" routerLink="profile" routerLinkActive="side__right-list-item--active">
      <span class="side__right-list-item-span">Profile</span>
    </a>
  </div>
</div>