<div class="search">
  <div class="search__header">
    <div class="search__header-left">
      <span class="search__header-left-title">Search</span>
    </div>
  </div>

  <form action="" class="search__users">
    <div class="search__users-inputs">
      <div class="search__users-engine">
        <span class="search__users-engine-title">Search Engine</span>
        <input
          class="search__users-engine-input"
          (input)="changeSearchInput($event)"
        />
      </div>
    </div>
  </form>

  <app-user-found *ngFor="let user of users" [user]="user"></app-user-found>
</div>
