@import "../../../assets/ap/scss/responsive";

.sign__side {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-video {
    width: 60%;
  }

  &-text {
    font-size: 48px;
    color: white;

    &-js {
      color: #fad357;
      font-size: 60px;
      font-weight: 600;
    }
  }

  &-description {
    color: white;
    font-size: 24px;
    text-align: center;
  }
}
