<div class="post__component">
  <div class="post__component_info">
    <a
      routerLink="/mainPage/profile/{{ post.userId }}"
      class="post__component_info-username"
      >{{ user.username }}</a
    >
    <span class="post__component_info-date"> - {{ time }}</span>
  </div>
  <div class="post__component_content">
    <div class="post__component_content-title">{{ post.title }}</div>
    <span class="post__component_content-text">{{ post.context }}</span>
  </div>

  <div class="post__component_detail">
    <button (click)="likePost()" class="post__component_detail-like">
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        class="post__component_detail-like--{{ isLike }}"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.6356 20.81C12.2956 20.93 11.7356 20.93 11.3956 20.81C8.49563 19.82 2.01562 15.69 2.01562 8.68998C2.01562 5.59998 4.50563 3.09998 7.57562 3.09998C9.39562 3.09998 11.0056 3.97998 12.0156 5.33998C13.0256 3.97998 14.6456 3.09998 16.4556 3.09998C19.5256 3.09998 22.0156 5.59998 22.0156 8.68998C22.0156 15.69 15.5356 19.82 12.6356 20.81Z"
          stroke="#ffffff"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <span class="post__component_detail--number">{{ likeNumbers }}</span>
    </button>
    <a
      routerLink="/mainPage/profile/{{ post.userId }}/{{ post.id }}"
      class="post__component_detail-comment"
    >
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M17.0156 18.43H13.0156L8.56561 21.39C7.90561 21.83 7.01562 21.36 7.01562 20.56V18.43C4.01562 18.43 2.01562 16.43 2.01562 13.43V7.42993C2.01562 4.42993 4.01562 2.42993 7.01562 2.42993H17.0156C20.0156 2.42993 22.0156 4.42993 22.0156 7.42993V13.43C22.0156 16.43 20.0156 18.43 17.0156 18.43Z"
          stroke="#ffffff"
          stroke-width="1.5"
          stroke-miterlimit="10"
          stroke-linecap="round"
          stroke-linejoin="round"
        /></svg
      ><span class="post__component_detail--number">72</span>
    </a>
  </div>
</div>
