<div class="sign__alert-backdrop" (click)="onClose()"></div>
<div class="sign__alert-message">
  <!-- <p>{{ message }}</p> -->
  <div class="sign__alert-message-border">
    <p class="sign__alert-context">{{ message }}</p>
    <div class="sign__alert-btn">
      <div>
        <button class="sign__alert-btn-close" (click)="onClose()">CLOSE</button>
      </div>
      <div>
        <img src="../../../assets/pic/logo__error.png" alt="errorLogo" class="sign__alert-logo" />
        <div class="sign__alert-name">
          Pyramid<span class="sign__alert-js">Twitext</span>
        </div>
      </div>
    </div>
  </div>
</div>