<div class="profile">
  <div class="profile__header">
    <div class="profile__header-left">
      <a class="profile__header-left-close" routerLink="/mainPage/profile"
        >&#x276E;</a
      >
      <span class="profile__header-left-title">Edit Profile</span>
    </div>
    <div class="profile__header-right">
      <a class="profile__header-right-save" (click)="onSubmit()">Save</a>
    </div>
  </div>

  <form action="" class="profile__edit" [formGroup]="editProfileForm">
    <div class="profile__edit-inputs">
      <div class="profile__edit-name">
        <div class="profile__edit-namefirst">
          <span class="profile__edit-namefirst-title">First Name</span>
          <input
            class="profile__edit-namefirst-input"
            type="text"
            formControlName="firstName"
          />
        </div>
        <div class="profile__edit-namelast">
          <span class="profile__edit-namelast-title">Last Name</span>
          <input
            class="profile__edit-namelast-input"
            type="text"
            [value]="editProfileData?.name?.lastName"
            formControlName="lastName"
          />
        </div>
      </div>
      <div class="profile__edit-username">
        <span class="profile__edit-username-title">Username</span>
        <input
          class="profile__edit-username-input"
          type="text"
          [value]="editProfileData?.username"
          formControlName="username"
        />
      </div>
      <div class="profile__edit-bio">
        <span class="profile__edit-bio-title">Bio</span>
        <textarea
          class="profile__edit-bio-textarea"
          name=""
          id=""
          [value]="editProfileData?.bio"
          formControlName="bio"
        ></textarea>
      </div>
    </div>
  </form>
</div>
